.Navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .Navbar {
    flex-direction: column;
    gap: 1.5rem;
  }

  .Navbar.open {
    display: flex;
  }
}
